<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>US Marriage Rates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="static/css/d3.css">
    <link href="static/css/map.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>State Marriage Rates in the United States</h1>
            <p style = "font-size:20px">Use the interactive charts below to explore the dataset</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="well">
                <h5><b>Select State:</b></h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
        </div>
        <div class="col-md-12">
            <div id="line"></div>
        </div>
    </div>

    <div class="row">
            
            <div class="col-md-12">
                <div id="bar"></div>
            </div>
        
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="well">
                <h5>Select Year:</h5>
                <select id="selYear" onchange="yearChanged(this.value)"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map-title"><h3>Marriage rates per 1000 of population</h3></div>
                <div id="map"></div>
            </div>

        </div>

        <!-- Marriage visualizations -->
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="well">
                <h5>Marriage/Divorce:</h5>
                    <select id="selRate" onchange="rateChanged(this.value)">
                    <option value="marriage">Marriage</option>
                    <option value="divorce">Divorce</option>
            </select>
        </div>
    </div>

    <div class="col-xs-6  col-md-6">
        <div id="map-title"><h3>US Divorce Rates -2016</h3></div>
        <button id="party">Party split</button>
        <button id="combine">Combine</button>
        <div id="bubble">
        </div>
    </div>

        <div class="col-xs-6  col-md-12">
            <div id="map-title"><h3>US Marriage Rates -2016</h3></div>
            <button id="party-mr">Party split</button>
            <button id="combine-mr">Combine</button>
            <div id="bubble-mr">
                <!-- We append our chart here. -->
            </div>
        </div>

    </div>

   
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.0.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.js"></script>

<script src="static/js/bubble.js"></script>
<script src="static/js/marriage_bubble.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="static/js/app.js"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>

<script src="static/js/map.js"></script>

<script type="text/javascript" src="static/js/config.js"></script>

<!-- Leaflet-Choropleth JavaScript -->
<script type="text/javascript" src="static/js/choropleth.js"></script>
 <!-- Leaflet JS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>

</body>

</html>